<h1 class="mt-4">MyNotes HomePage</h1>

<h2 class="lead mb-3">Welcome <%= name %>!</h2>
<% if(note.length > 0){  %>  
  <table class="striped">
   <thead>
      <tr>
         <th>Title</th>
         <th>Date</th>
         <th>Status</th>
         <th></th>
      </tr>
   </thead>
   <% note.forEach ( el => { %>
   <tbody class="notes" data-id="<%=el._id%>">
      <tr>
         <td><a href="notes/<%=el._id%>"><%= el.title %></a></td>
         <td><%= moment(el.createdAt) %></td>
         <td><%= el.status %></td>
         <td>
            <a href="/notes/edit/<%=el._id%>" class="btn btn-float">
               <i class="fas fa-edit"></i>
           </a>

           <form action="/notes/<%=el._id%>" method="POST" id="delete-form">
               <input type="hidden" name="_method" value="DELETE">
               <button type="submit" class="btn red">
                   <i class="fas fa-trash"></i>
               </button>
           </form>
         </td>
      </tr> 

      <% }); %>
   </tbody>
   
  </table>
  
  
   <%=  %> 
<% } else {%>
   <p> no notes for <%= name %> </p>
   <% } %>


<a href="/logout" class="btn btn-secondary">Logout</a>

<div class="fixed-action-btn">
   <a href="notes/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
</div>


