<div class="row mt-5">
    <div class="col s12 m8">
        <h3><%=notes.title%>
            <small><%- editIcon(notes.user, loggedUser, notes._id, false) %> </small>
        </h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title"></span>
                <%= stripTags(notes.body) %>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title"><%=notes.user.userName%></span>
                <div class="card-action">
                    <a href="/notes/user/<%=notes.user._id%>">More From <%=notes.user.userName%></a>
                </div>
            
        </div>
    </div>
</div>